<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image" href="../static/img/logo.ico">
        <title>Link Leaks - Accueil</title>
    </head>
    <body>
        <header>
            <h1>Link Leaks</h1>
            <nav>
                 <a href="{{ url_for('inscription') }}" class="submit" target="_blank">Inscription</a>

            </nav>
        </header>
        <br>
        <img src="../static/img/attentionImage.png" alt="attention" height="20%" width="20%"><br>
        <a href="{{ url_for('signalement_page') }}" class="submit" target="blank">Signaler</a>
        <br><br><br>

        <h3>Qui sommes nous ?</h3>
            <p id="blabla">
                Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore
                magna aliqua. Ut enim ad minim veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi
                ut aliquid ex ea commodi consequatur. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum. Lorem ipsum dolor sit amet. Et iste laborum vel magnam omnis et ipsa
                reprehenderit ut repudiandae alias et inventore perspiciatis et nihil galisum. Est nisi expedita sed
                voluptatem veritatis ut praesentium error aut unde veritatis. Qui iusto quisquam eum ullam quia rem
                quibusdam minus in nobis adipisci et iusto ipsum in similique nihil! Eos natus saepe qui consequatur ipsa in
                ducimus soluta. A eius odio sit numquam consequatur quo porro autem et pariatur iste est vero architecto eum
                aspernatur doloribus aut expedita autem. Cum omnis fugiat sit praesentium reiciendis et dolore officia. Eos
                ipsam velit eos dolor galisum ab consequatur officia ut deleniti libero eum laborum esse et quia amet. Hic
                quia ratione ex voluptatem enim hic debitis eaque et natus adipisci ex perferendis nesciunt.
            </p>

        <br><br>

        <footer>
            <br><br>
            <p>
                Tous droits réservés.
            </p>
            <p>
                ©️2026 Lana Chen, Ulysse Clouzeau,
                Manon Souchon--Garrigue, Sacha Bertaina--David.
            </p>
        </footer>
    </body>
</html>