<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des utilisateurs</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
<body>


    <h2>Ajouter un utilisateur</h2>
    <form method="POST" action="{{ url_for('inscription') }}">
        <input name="nom" placeholder="Nom" required>
        <input name="prenom" placeholder="Prénom" required>
        <input name="num_tel" placeholder="Numéro de téléphone" required>
        <input type="email" name="adress_mail" placeholder="Email" required><br>
        <button type="submit">Ajouter</button>
    </form>

    <p><a href="/signaler">Aller à la page de signalement</a></p>
</body>
</html>